@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  word-wrap: break-word;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}
html,
body {
  background-color: #f1f2f6;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.h1-new::before {
  content: '';
  margin-left: 30px;
}

.nav-logo {
  width: 160px;
}
.nav-item a {
  font-size: 0.9rem;
  font-weight: 500;
  color: #207a20 !important;
}
.nav-item a:hover {
  background-color: #207a20;
  color: #ffffff !important;
  transition: 0.4s;
}
.dropdown-menu a {
  font-size: 0.9rem;
  font-weight: 500;
  color: #207a20;
}
.dropdown-menu a:hover {
  background-color: #207a20;
  color: #ffffff;
}

@media (max-width: 992px) {
  .navbar-nav .nav-item {
    text-align: center;
  }
  .dropdown-menu {
    border: 1px solid #24a1249a;
    border-radius: 0;
    text-align: center;
  }
}

.carousel {
  height: 100vh;
}
.carousel-item {
  background-color: #0f0f0fd5;
  height: 100vh;
}
.carousel .carousel-item img {
  height: 100vh;
  background-size: cover;
  min-width: 100%;
}
@media (min-width: 500px) and (max-width: 300px) {
  .carousel {
    height: 100vh;
  }
  .carousel .carousel-item img {
    height: 100vh;
  }
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 8rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: left;
}
section {
  margin: 5rem 0;
}
.fs-48 {
  font-size: 4rem;
  font-weight: 700;
  text-shadow: 20px 20px 40px rgba(0, 0, 0, 0.589);
}
.bg-translucent p {
  font-size: 1.1rem;
  font-weight: 500;
}
@media (max-width: 600px) {
  .fs-48 {
    font-size: 2rem;
    font-weight: 600;
  }
  .bg-translucent p {
    font-size: 0.9rem;
    font-weight: 500;
  }
}
.bg-translucent {
  background-color: #00000083;
}
/*  */
.activities-card-section {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: 64px 24px;
}
.activities-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  max-width: 2400px;
  width: 100%;
}
@media (max-width: 540px) {
  .activities-card-section {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: 44px 0;
  }
  .activities-card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 14px;
    grid-row-gap: 14px;
    max-width: 1200px;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .activities-card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.activities-card {
  list-style: none;
  position: relative;
}
.activities-card:before {
  content: '';
  display: block;
  padding-bottom: 120%;
  width: 100%;
}
.activities-card-bg {
  background-color: #000000;
  border-radius: 1%;
  background-size: cover;
  background-position: center;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}
.activities-card:hover .activities-card-bg {
  transform: scale(1.1) translateZ(0);
}
.activities-card-content {
  width: 100%;
  left: 0;
  padding: 24px;
  position: absolute;
  bottom: 0;
}
.text-activities-card {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.007);
}
.text-activities-info {
  font-size: 11px;
  font-weight: 500;
  color: #ffffff;
}
.text-activities-card-price {
  background-color: #fafafa;
  padding: 5px;
  color: #207a20;
  font-size: 14px;
  font-weight: 600;
}
@media (max-width: 540px) {
  .activities-card:before {
    content: '';
    display: block;
    padding-bottom: 140%;
    width: 100%;
  }
  .activities-card-content {
    width: 100%;
    padding: 20px 10px 20px 0;
  }
  .text-activities-card {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 0 20px;
  }
  .text-activities-info {
    margin: 0 0 0 20px;
    padding: 10px 0;
  }
  .text-activities-card-price {
    background-color: #fafafa;
    padding: 5px 7px;
    color: #207a20;
    font-size: 12px;
    font-weight: 600;
  }
}
/*  */
/*-----  TRAVEL CARD SECTION --- FOR ADVENTURE -----------  */
.travel-card-section {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: 64px 24px;
}
.travel-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  max-width: 2400px;
  width: 100%;
}
@media (max-width: 540px) {
  .travel-card-section {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: 44px 0;
  }
  .travel-card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 14px;
    grid-row-gap: 14px;
    max-width: 1200px;
    width: 100%;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .travel-card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .travel-card-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
.travel-card {
  list-style: none;
  position: relative;
}
.travel-card:before {
  content: '';
  display: block;
  padding-bottom: 120%;
  width: 100%;
}
.travel-card-bg {
  background-color: #000000;
  border-radius: 1%;
  background-size: cover;
  background-position: center;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}
.travel-card:hover .travel-card-bg {
  transform: scale(1.1) translateZ(0);
}
.travel-card-content {
  width: 100%;
  left: 0;
  padding: 24px;
  position: absolute;
  bottom: 0;
}
.text-travel-card {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.007);
}
/* .text-travel-info {
  font-size: 11px;
  font-weight: 500;
  color: #ffffff;
}
.text-travel-card-price {
  background-color: #fafafa;
  padding: 5px;
  color: #207a20;
  font-size: 14px;
  font-weight: 600;
} */
@media (max-width: 540px) {
  .travel-card:before {
    content: '';
    display: block;
    padding-bottom: 140%;
    width: 100%;
  }
  .travel-card-content {
    width: 100%;
    padding: 20px 10px 20px 0;
  }
  .text-travel-card {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0 0 20px;
  }
  /* .text-travel-info {
    margin: 0 0 0 20px;
    padding: 10px 0;
  }
  .text-travel-card-price {
    background-color: #fafafa;
    padding: 5px 7px;
    color: #207a20;
    font-size: 12px;
    font-weight: 600;
  } */
}
@media (min-width: 319px) and (max-width: 424px) {
  .text-travel-card {
    font-size: 0.81rem;
    margin: 0 0 0 10px;
  }
}
/*-----  END --- TRAVEL CARD SECTION --- FOR ADVENTURE -----------  */
.product-card-section {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: 64px 24px;
}
.product-card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  max-width: 2400px;
  width: 100%;
}
@media (max-width: 540px) {
  .product-card-section {
    padding: 44px 0;
  }
  .product-card-grid {
    grid-column-gap: 18px;
    grid-row-gap: 18px;
  }
}
@media (min-width: 960px) {
  .product-card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.product-card {
  list-style: none;
  position: relative;
}
.product-card:before {
  content: '';
  display: block;
  padding-bottom: 80%;
  width: 100%;
}
.product-card-bg {
  background-color: #000000;
  background-size: cover;
  background-position: center;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}
.product-card:hover .product-card-bg {
  transform: scale(1.1) translateZ(0);
}
.product-card-content {
  left: 0;
  padding: 24px;
  position: absolute;
  bottom: 0;
}
.text-product-card {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.007);
}

.text-product-card-price {
  background-color: #ffffffcc;
  padding: 5px 7px;
  color: #207a20;
  font-size: 16px;
  font-weight: 600;
}
/*-----  END --- product CARD SECTION --- FOR river product -----------  */
.brand-line {
  font-size: 1.2rem;
  color: #485460;
  padding: 9px 0 5px 0;
  text-transform: uppercase;
}
.p-about {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.842);
}
.btn-green {
  background-color: #207a20;
  color: #ffffff;
  border-radius: 0;
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: 400;
}
.btn-green:hover {
  color: #207a20;
  border: 1px solid #207a20;
  background-color: #ffffff;
}

.instagram {
  color: #c13584;
}
.bg-green {
  background-color: #207a20 !important;
}
.text-green {
  color: #207a20;
}
/* limit character in contact --address-- */
.card-address {
  max-width: 35ch;
}
.char-limit {
  max-width: 50ch;
}
/* -------- FOOTER ------------ */
footer {
  margin: 10rem 0 0 0;
  padding: 6rem 0 2rem;
  background-color: #207a20;
  color: #ffffff;
}
footer a {
  color: #ffffff;
  font-size: 0.98rem;
}

footer a:hover {
  background-color: #ffffff;
  color: #207a20;
  transition: 0.4s ease-in;
  padding: 2px 5px;
}
.footer-copyright,
.footer-copyright a {
  font-size: 0.9rem;
}
